<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRUD APP</title>
    <link rel="stylesheet" href="/style/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <div class="w-full h-full bg-zinc-900 p-10 text-white">
      <div class="nav mb-10">
        <a class="text-blue-600" href="/teacher/allteacher">
  ← View All Teachers
</a>

      </div>
      <h1 class="text-xl font-semibold mb-4 text-center">Create Teacher</h1>

    

      <form action="/teacher/createteacher" method="post" class="flex flex-col gap-3">
  <input
    type="text"
    name="name"
    placeholder="Name"
    class="px-5 py-2 text-black"
  />
  <input
    type="submit"
    value="Create Teacher"
    class="btn bg-blue-600 text-white"
  />
</form>


    </div>
  </body>
</html>
